{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <h3>Register</h3>
    <form method="post">
      <div class="mb-3"><label>Name</label><input name="name" class="form-control" required></div>
      <div class="mb-3"><label>Email</label><input name="email" type="email" class="form-control" required></div>
      <div class="mb-3"><label>Username</label><input name="username" class="form-control" required></div>
      <div class="mb-3"><label>Password</label><input name="password" type="password" class="form-control" required></div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
{% endblock %}
